div {

	border-width: 3px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.topnav a {
    float: left;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    align-item: center;


}
.topnav a:hover {
    background-color: #222;
    color: white;
}


.holder {

	background-color: #333;
	border-radius: 10px;
	text-align: left;
	padding: 15px;
}

.inside {
}


/* Default Styling */

div.page {
    margin: auto;
    width: 800px;
}


 @media only screen and (max-width: 900px) {
    div.page {
        margin: auto;
        width: auto;
    }
}

 @media only screen and (max-width: 500px) {
    div.page {
        margin: 0px;
        width: 100%;
        padding: 0px;

    }
 div.holder {
        border-radius: 0%;
        padding: 10px;
        margin-left: -5px;
        margin-right: -5px;

    }

 body {
        padding: 0px;
        margin: 0px;
    }


 div.topnav {
        margin-left: -5px;
        margin-right: -5px;
    }

 h2 {
        margin-bottom: 0px;
    }
}


body {
    font-family: 'Trebuchet MS', sans-serif;
	background-color: #222;
	color: white;
	padding: 4px;

}


a{
    text-decoration: none;
    color: white;


}


a.button {

    text-decoration: inherit;
    color: white;
    cursor: auto;
    background-color: #b33;
    border-radius: 5px;
    margin-top: 50px;
    padding: 4px;
    margin: 10px;


}
a:hover {

    background-color: #333;
}
/* Markdown Styling */

h1 {

    text-align: center;
    text-decoration-line: underline;
}

li {
    margin: 10px;
}

bold {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

italic {
    font-style: italic;
}

quote, nestquote {
    background: rgba(255, 255, 255, 0.3);
    border-left: 3px solid rgba(255, 255, 255);
    font-style: italic;
    padding: 3px;
    display: block;

}

nestquote {
    margin-left: 15px;
}

.codeblock {
    background-color: black;
    border-radius: 4px;
    color: lightgreen;
    padding: 1px;
    padding-left: 10px;
}




footer {

    text-align: center;

}
